collector {
  license { accept = true }
  interface = "0.0.0.0"
  port = 8080

  paths { }

  p3p {
    policyRef = "/w3c/p3p.xml"
    CP = "NOI DSP COR NID PSA OUR IND COM NAV STA"
  }

  crossDomain {
    enabled = false
    domains = [ "*" ]
    secure  = false
  }

  cookie {
    enabled = true
    expiration = "365 days"
    name = "snowplow"
    # domains = [ "woolford.io" ]
    # secure = false
    # httpOnly = true
    # sameSite = "None"
  }

  doNotTrackCookie {
    enabled = false
    name = "opt-out"
    value = ""
  }

  cookieBounce {
    enabled = false
    name = "n3pc"
    fallbackNetworkUserId = "00000000-0000-4000-A000-000000000000"
    forwardedProtocolHeader = "X-Forwarded-Proto"
  }

  enableDefaultRedirect = false

  redirectMacro {
    enabled = false
  }

  rootResponse {
    enabled = false
    statusCode = 302
  }

  cors {
    accessControlMaxAge = 30 minutes
  }

  prometheusMetrics {
    enabled = false
  }

  streams {
    good = snowplow-good
    bad = snowplow-bad
    useIpAddressAsPartitionKey = false

    sink {
      enabled = kafka
      brokers = "kafka:29092"
      retries = 0
    }

    buffer {
      byteLimit   = 400000000
      recordLimit = 5
      timeLimit   = 1000
    }
  }
}

akka {
  loglevel = INFO
  loggers = ["akka.event.slf4j.Slf4jLogger"]

  http.server {
    remote-address-header = on
    raw-request-uri-header = on
    parsing {
      max-uri-length = 32768
      uri-parsing-mode = relaxed
    }
  }
}

